<div class=" bg-main-light w-75 mx-auto rounded shadow p-4 my-4">
    <h2>login naw :</h2>


    <form (ngSubmit)="submitlogin(loginForm)" [formGroup]="loginForm">

        <label class="fa-" for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control mb-2 " id="email">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" class="form-control mb-2 " id="password">

        <p class="text-center ">Don't have an account?</p>
        <a class=" nav-link text-center link-primary" routerLink="/register"> Create new account</a>

        <button [disabled]="loginForm.invalid " type="submit"
            class="btn btn-info ms-auto d-block bg-main text-white border-0">login

            <span *ngIf="isLoading">
                <i class="fas fa-spin fa-spinner"></i>
            </span>

        </button>
    </form>
</div>